        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Noticias recientes <a href="#"><i class="fa fa-rss"></i></a></h4>
                            </div><!-- end blog-top -->

                            <div class="blog-list clearfix">
                                <div *ngFor="let news of listNews" class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a>
                                                <img [src]="news.image_url" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a >{{ news.title  }}</a></h4>
                                        <p> {{ news.summary }}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Gadgets</a></small>
                                        <small><a href="tech-single.html" title=""> {{ news.published_at | date: 'dd MMM yyyy' }}</a></small>
                                        <small><a href="tech-author.html" title="">{{ news.news_site }}</a></small>

                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-start">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                              <h2 class="widget-title">Buscar Noticias</h2>
                                <div class="navbar-new mr-2">
                                    <div class="newsletter-widget text-left">
                                        <form class="form-inline">
                                            <input type="text" #input (keyup)="searchNews(input.value)" class="form-control" placeholder="Buscar noticia..." name="search">
                                            <button type="submit" class="btn btn-primary">Buscar</button>

                                        </form>
                                    </div>
                                </div>
                            </div><!-- end widget -->




                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
